* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: whitesmoke;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.719);
}

strong {
    color: rgba(255, 255, 0, 0.952);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 940px;
    margin: 0 auto;
}
 
.logo{
    color: black;
    font-style: italic;
}

.link-content {
    display: flex;
    text-decoration: none;
}

.link-content li {
    list-style: none;
    margin: auto 16px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 80px;
    border-radius: 8px;
}

.link-content li a {
    text-decoration: none;
    color: black;
    font-family: bold;
}

.link-content li a:hover {
    color: rgba(0, 0, 0, 0.719);
}

.menuContainer {
    margin-top: 5px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logoFilme {
    height: 250px;
    width: 270px;
}

li {
    list-style: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.719);
    width: 100%;
    padding: 16px;
    position: relative;
    bottom: 0;
}

.footer-box, .copyRights{
    display: flex;
    justify-content: center;
}

.logoRede {
    height: 20px;
    width: 20px;
}

.linkLogo {
    margin-left: 25px;
}

/* mobile */
@media(max-width:768px) {
    .nav-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .logo {
        align-content: center;
    }

    main {
        height: 500vh;
    }

}